# Crystal
/lib/
/bin/
/.crystal/
/.shards/
/.spec_build/
/.dub/

# Ignore compiled binaries and executables
*.o
*.out
*.exe

# Ignore generated documentation
doc/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.*

# Ignore package files
*.tar
*.tgz
*.zip
*.gz

# Ignore system files
.DS_Store
Thumbs.db
